@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.profil-sekolah-banner {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, rgb(255, 0, 255), rgb(4, 0, 240));
  color: white;
  padding: 20px;
  text-align: center;
  background-size: 200% auto;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

.profilsekolah-judul h1 {
  font-size: 3em;
}

.menu-profilsekolah {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.menu-profilsekolah li {
  margin: 0 10px;
  font-size: 2em;
}

.menu-profilsekolah a {
  color: white;
  text-decoration: none;
}

.menu-profilsekolah p {
  color: white;
  margin: 0 5px;
}

.profil-sekolah {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profil-menu {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.foto-sekolah {
  text-align: center;
}

.foto-sekolah img {
  width: 80%;
  height: 50%;
  border-radius: 10px;
}

.icon-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.icon-logo img {
  width: 200px;
  margin: 10px;
  transition: transform 0.3s, opacity 0.3s;
}

.icon-logo img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.profil-sekolah-content {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.profil-sekolah-left {
  flex-basis: 50%;
}

.profil-menu-left {
  background-color: #ffffff;
  padding: 20px;
}

.profil-sekolah-right {
  flex-basis: 50%;
}

.profil-menu-right {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.isi-konten1 h1 {
  background-color: #0077b5;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.isi-kontent2 h1 {
  background-color: #0077b5;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.banner1-profil {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.isi-kontent3 {
  border-bottom: #0f0844;
  padding: 5px;
  font-size: 1.4em;
  text-align: center;
  border-bottom: 2px solid rgb(0, 26, 255);
  color: blue;
}

.isi3 {
  margin: 20px 20px;
  font-size: 1.6rem;
  text-align: justify;
}
.gambar-tight img {
  max-width: 550px; /* Atur lebar maksimal gambar */
  height: auto;
  display: block; /* Membuat gambar berada di tengah */
  margin: 0 auto; /* Menengahkan gambar */
}
figcaption {
  clear: both; /* Menjaga keterangan agar tidak berada di sebelah kiri atau kanan gambar */
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .gambar-tight img {
    max-width: 100%;
    float: none;
    margin-right: 0;
  }
  .isi3 {
    font-size: 1.5rem;
  }

  .profil-sekolah-content {
    flex-direction: column;
  }

  .profil-sekolah-left,
  .profil-sekolah-right {
    flex-basis: 100%;
  }

  .isi-kontent3 {
    border-bottom: #0f0844;
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 2px solid rgb(0, 26, 255);
    color: blue;
  }

  .icon-logo img {
    width: 100px;
    /* Sesuaikan ukuran yang diinginkan */
  }
}

@media (max-width: 480px) {
  .email span {
    display: none;
  }

  .call span {
    display: none;
  }
}
