/* New modal content styles */
.modal-content {
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: #fff;

}

.modal-content h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.modal-content p {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

.daftar-button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.daftar-button:hover {
  background-color: #45a049;
}

/* Slide Popup */
.bacground-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; /* Ensures content is stacked vertically */
  max-width: 650px;
  width: 100%;
  background: #fff;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
}

.modal-wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}

i.button:active {
  transform: scale(0.94) translateY(-50%);
}

i#prev {
  left: 25px;
}

i#next {
  right: 25px;
}

.image-container {
  height: 320px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}

.image-container .slide-image {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}

.slide-image img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  border: 10px solid #fff;
  object-fit: cover;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  background-color: blue;
  width: 30px;
  border-radius: 5px;
  text-align: center;
}

.close-button:hover {
  color: #ffffff;
  background-color: red;
}

/*Decoration of Slide*/
.visi {
  background-color: #3498db;
  padding: 15px;
}

.visi h1 {
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
}

.visi h2 {
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.visi p {
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  color: white;
  font-size: 15px;
}
/*Menu Tentang Saya*/
.about-me {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 2rem 7% 1.4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about-me span {
  color: #3498db;
  font-size: 30px;
}

/*garis abut saya*/
#about-saya {
  position: relative;
}

#about-saya::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #3498db;
}

/*Layanan Menu*/
.layanan-menu {
  max-width: 100%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 2px;
}

.layanan {
  margin-bottom: 20px;
}

.layanan-menu .layanan img {
  width: 60%;
}

.layanan h1 {
  margin: 22px;
  font-size: 30px;
}

.layanan p {
  font-size: 18px;
}

/* Animasi gambar dan garis bawah */
.layanan-menu .layanan img {
  transition: transform 0.3s, opacity 0.3s; /* Transisi untuk scaling dan opacity */
}

.layanan-menu .layanan a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.4rem solid #56bcff;
  transform: scaleX(0);
  transition: transform 0.3s ease; /* Transisi untuk garis bawah */
}

.layanan-menu .layanan:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}

.layanan-menu .layanan:hover a::after {
  transform: scaleX(0.5);
}

.text1-sambutan {
  background-color: blue;
}

.label1-visi-misi {
  max-width: 100%;
  margin: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.label1 {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
}

.visi1 {
  background-color: #c8daea;
  height: 40%;
  border-bottom: 40px solid #7b95f9;
}

.visi1 h1 {
  font-size: 28px;
  text-align: center;
}

.visi1 p {
  font-size: 20px;
  margin: 0px;
  padding: 40px;
  text-align: center;
}

.Misi1 {
  background-color: #c8daea;
  border-bottom: 40px solid #7b95f9;
}

.Misi1 h1 {
  font-size: 28px;
  text-align: center;
}

.Misi1 ol {
  margin: 0px;
  padding: 20px;
}

.Misi1 li {
  font-size: 14px;
  text-align: justify;
}

.Tujuan1 {
  background-color: #c8daea;
  height: 30%;
  border-bottom: 40px solid #7b95f9;
}

.Tujuan1 h1 {
  font-size: 28px;
  text-align: center;
}

.Tujuan1 p {
  font-size: 14px;
  margin: 0px;
  padding: 40px;
  text-align: center;
}

/*section artikel/Berita*/
#id-berita-pengumuman {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.heading-berita {
  text-align: center;
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.shadow {
  flex-basis: 25%;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

.image {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.image::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.shadow:hover .image img {
  transform: scale(1.2);
}

.image h3 {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(199, 16, 16);
  background-color: #ffffff;
  box-shadow: #333;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 14px;
}

.content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1da1f2;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.content .btn:hover {
  background-color: #0b5297;
}

/*UKURAN LAPTOP*/
@media screen and (min-width: 1024px) {
  .shadow {
    flex-basis: 33.33%;
  }
}

/*Ukuran Deskop HP dan Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .shadow {
    flex-basis: 50%;
  }

  .content h3 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .content p {
    font-size: 8px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .shadow {
    flex-basis: 100%;
  }
}

/*Breake Point Event*/
@media (max-width: 980px) {
  .visi h1 {
    font-size: 25px;
  }

  .visi h2 {
    font-size: 15px;
  }

  .visi p {
    font-size: 10px;
  }
}

@media (min-width: 800px) {
  .layanan-menu {
    display: flex;
    justify-content: space-between;
  }

  .layanan {
    width: 30%;
  }

  .label1 {
    width: 30%;
  }

  .label1-visi-misi {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .heading-berita h1 {
    font-size: 2.3rem;
  }
}
/*ukuran layar handphone*/
@media (max-width: 480px) {
  .visi h1 {
    font-size: 18px;
  }

  .visi h2 {
    font-size: 14px;
  }

  .visi p {
    font-size: 10px;
  }

  .email span {
    display: none;
  }

  .call span {
    display: none;
  }
}

/*WHATSAPP POP UP*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #3a3a3a;
  z-index: 99;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: floatAnimationUp;
  transition: background-color 0.3s, color 0.3s; /* Menambahkan transisi */
}

@keyframes floatAnimationUp {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.float.end-of-page {
  animation-name: floatAnimationDown;
}

@keyframes floatAnimationDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(100px);
  }
}

.my-float {
  margin-top: 16px;
}

.float:hover {
  color: #25d366;
  background-color: white;
}
.animatedi.infinitei {
  animation-iteration-count: infinite;
}

.rubberBandi {
  animation-name: rubberBand;
}

.animatedi {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scaleX(1);
  }
}

/* Gaya untuk tombol scroll-to-top */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25b0d3;
  color: #fff;
  width: 40px; /* Lebar dan tinggi yang sama untuk membuat bulatan */
  height: 40px;
  border-radius: 50%; /* Membuat background menjadi lingkaran */
  text-align: center; /* Untuk mengatur ikon ke tengah */
  line-height: 40px; /* Untuk mengatur ikon ke tengah */
  text-decoration: none;
  display: none;
  z-index: 999;
  animation-name: anim1;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes anim1 {
  0% {
    right: -40px; /* Mulai dari luar layar ke atas */
  }
  100% {
    right: 20px; /* Turun ke posisi yang diinginkan */
  }
}
.scroll-to-top:hover {
  background-color: #128c7e;
}

.full-screen-video {
  width: 100%;
  height: 100vh; /* Menggunakan tinggi viewport untuk layar penuh */
}
.tombol-lihat {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.button-lihat {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 20px;
  background-color: #158aff;
  width: 100%;
  border-radius: 5px;
  height: 50px;
  transition: background-color 0.3s;
}
.button-lihat a {
  color: white;
  width: 100%;
}

.button-lihat:hover {
  background-color: #0b5297;
}
.slider {
  width: 1300px;
  max-width: 100%;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots .dot-item {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots .dot-item.active {
  width: 30px;
}
.slider .buttons a.slider-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 110, 255, 0.555);
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.slider .buttons a.slider-button:hover {
  background-color: #00ccff; /* Ubah warna latar saat dihover */
  color: #fff; /* Ubah warna teks saat dihover */
}

.slider .list .item {
  position: relative;
}

.slider .list .item .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.slider .list .item .txt h1 {
  font-family: "Poppins", sans-serif;
  color: yellow;
  margin: 5px 0;
  font-size: 56px;
}

.slider .list .item .txt p {
  margin: 5px 0;
  font-size: 48px;
}
.item img {
  filter: brightness(65%);
}
@media screen and (max-width: 980px) {
  .slider {
    height: 550px;
  }
  .slider .list .item .txt h1 {
    font-size: 34px;
  }

  .slider .list .item .txt p {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .slider {
    height: 450px;
  }
  .slider .list .item .txt h1 {
    font-size: 30px;
  }

  .slider .list .item .txt p {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .slider .buttons {
    top: 30%;
  }
  .slider {
    height: 250px;
  }
  .slider .list .item .txt h1 {
    font-size: 22px;
  }

  .slider .list .item .txt p {
    font-size: 14px;
  }
}
