.profil-sekolah-banner {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, rgb(255, 0, 255), rgb(4, 0, 240));
  color: white;
  padding: 20px;
  text-align: center;
  background-size: 200% auto;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

.profilsekolah-judul h1 {
  font-size: 2.5em;
}

.menu-profilsekolah {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.menu-profilsekolah li {
  margin: 0 10px;
  font-size: 1.8em;
}

.menu-profilsekolah a {
  color: white;
  text-decoration: none;
}

.menu-profilsekolah p {
  color: white;
  margin: 0 5px;
}

@media (max-width: 900px) {
  .profilsekolah-judul h1 {
    font-size: 2.3em;
  }

  .menu-profilsekolah li {
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .profilsekolah-judul h1 {
    font-size: 2.2em;
  }

  .menu-profilsekolah li {
    font-size: 1.1em;
  }
}

@media (max-width: 480px) {
  .profilsekolah-judul h1 {
    font-size: 2em;
  }

  .menu-profilsekolah li {
    font-size: 1em;
  }
}
.profil-sekolah {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.judul-profil-menu {
  grid-column: 1 / -1;
  /* Memanjangkan judul hingga akhir kolom */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.judul-profil {
  background-color: #0077b5;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.judul-profil h1 {
  padding: 20px;
}

.profil-menu {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.foto-sekolah {
  text-align: center;
}

.foto-sekolah img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}

.foto-sekolah {
  position: relative;
}

.foto-sekolah img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  transition: transform 0.5s;
}

.foto-sekolah .keterangan {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(161, 161, 161);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: rotateY(180deg);
  transition: opacity 0.5s, transform 0.5s;
}

.foto-sekolah:hover img {
  transform: rotateY(180deg);
}

.foto-sekolah:hover .keterangan {
  opacity: 1;
  transform: rotateY(0deg);
}

/*Responsif Breake Point*/
@media (max-width: 980px) {
  .profil-menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .foto-sekolah .keterangan {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .profil-menu {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 520px) {
  .foto-sekolah .keterangan {
    font-size: 10px;
  }
}
