/* CSS dasar untuk modal */
.modal-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  margin: 15% auto;
  top: 0;
  padding: 20px;
  text-align: center;
  max-width: 800px;
}

.close-btn {
  position: absolute;
  z-index: 9999;
  top: 20px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: black;
  padding: 10px;
  transition: 0.6s ease;
}

.close-btn:hover {
  background-color: black;
  color: white;
}

/* Untuk slide gambar Modal*/
.slide-container {
  position: relative;
}

.mySlides {
  display: none;
}

.imge25 {
  vertical-align: middle;
}

.preview,
.nexto {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.preview {
  left: 0;
  border-radius: 3px 0 0 3px;
  background-color: white;
}

.nexto {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: white;
}

.preview:hover,
.nexto:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/*Slide Preview*/
.slider {
  position: relative;
  width: 100%;
  background-color: #333;
  background-color: rgb(162, 162, 255);
}

.mysliderr {
  display: none;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
  user-select: none;
}

.prev:hover,
.next:hover {
  font-size: 60px;
  color: rgb(255, 238, 0);
}

.next {
  right: 0;
}

.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.active,
.dot:hover {
  border-color: #3498db;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8s;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8s;
  }

  to {
    opacity: 1;
  }
}

/*Decoration of Slide*/
.visi {
  background-color: #3498db;
  padding: 15px;
}

.visi h1 {
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
}

.visi h2 {
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.visi p {
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  color: white;
  font-size: 15px;
}

/*Dekorasi Text pada Slider*/
.txt h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #25d366;
  color: yellow;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: "Archivo Narrow", sans-serif;
}

.txt p {
  color: white;
  text-shadow: 2px, 3px, 6px black;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.mysliderr img {
  filter: brightness(65%);
  transform: scale(1.5, 1.5);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 20s;
  animation-name: zoomin;
  animation-duration: 20s;
}

@-webkit-keyframes zoomin {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}

@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}

/*animasi untuk text di Slide*/
.txt {
  position: absolute;
  top: 40%;
  left: 15%;
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
  z-index: 1;
}

@-webkit-keyframes posi {
  from {
    left: 25%;
  }

  to {
    left: 15%;
  }
}

@keyframes posi {
  from {
    left: 25%;
  }

  to {
    left: 15%;
  }
}

/*Menu Tentang Saya*/
.about-me {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 2rem 7% 1.4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about-me span {
  color: #3498db;
  font-size: 30px;
}

/*garis abut saya*/
#about-saya {
  position: relative;
}

#about-saya::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #3498db;
}

/*Layanan Menu*/
.layanan-menu {
  max-width: 100%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 2px;
}

.layanan {
  margin-bottom: 20px;
}

.layanan-menu .layanan img {
  width: 60%;
}

.layanan h1 {
  margin: 22px;
  font-size: 30px;
}

.layanan p {
  font-size: 18px;
}

/* Animasi gambar dan garis bawah */
.layanan-menu .layanan img {
  transition: transform 0.3s, opacity 0.3s; /* Transisi untuk scaling dan opacity */
}

.layanan-menu .layanan a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.4rem solid #56bcff;
  transform: scaleX(0);
  transition: transform 0.3s ease; /* Transisi untuk garis bawah */
}

.layanan-menu .layanan:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}

.layanan-menu .layanan:hover a::after {
  transform: scaleX(0.5);
}

.text1-sambutan {
  background-color: blue;
}

.label1-visi-misi {
  max-width: 100%;
  margin: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.label1 {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
}

.visi1 {
  background-color: #c8daea;
  height: 40%;
  border-bottom: 40px solid #7b95f9;
}

.visi1 h1 {
  font-size: 28px;
  text-align: center;
}

.visi1 p {
  font-size: 20px;
  margin: 0px;
  padding: 40px;
  text-align: center;
}

.Misi1 {
  background-color: #c8daea;
  border-bottom: 40px solid #7b95f9;
}

.Misi1 h1 {
  font-size: 28px;
  text-align: center;
}

.Misi1 ol {
  margin: 0px;
  padding: 20px;
}

.Misi1 li {
  font-size: 14px;
  text-align: justify;
}

.Tujuan1 {
  background-color: #c8daea;
  height: 30%;
  border-bottom: 40px solid #7b95f9;
}

.Tujuan1 h1 {
  font-size: 28px;
  text-align: center;
}

.Tujuan1 p {
  font-size: 14px;
  margin: 0px;
  padding: 40px;
  text-align: center;
}

/*section artikel/Berita*/
#id-berita-pengumuman {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.heading-berita {
  text-align: center;
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.shadow {
  flex-basis: 25%;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

.image {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.image::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.shadow:hover .image img {
  transform: scale(1.2);
}

.image h3 {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(199, 16, 16);
  background-color: #ffffff;
  box-shadow: #333;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 14px;
}

.content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1da1f2;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.content .btn:hover {
  background-color: #0b5297;
}

/*UKURAN LAPTOP*/
@media screen and (min-width: 1024px) {
  .shadow {
    flex-basis: 33.33%;
  }
}

/*Ukuran Deskop HP dan Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .shadow {
    flex-basis: 50%;
  }

  .content h3 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .content p {
    font-size: 8px;
    margin-bottom: 10px;
  }
  .txt h1 {
    font-size: 50px; /* Atur ukuran font yang diinginkan */
  }

  .txt p {
    font-size: 24px; /* Atur ukuran font yang diinginkan */
  }
}

@media screen and (max-width: 767px) {
  .shadow {
    flex-basis: 100%;
  }
  .txt h1 {
    font-size: 55px; /* Atur ukuran font yang diinginkan */
  }

  .txt p {
    font-size: 28px; /* Atur ukuran font yang diinginkan */
  }
}

/*Breake Point Event*/
@media (max-width: 980px) {
  .visi h1 {
    font-size: 25px;
  }

  .visi h2 {
    font-size: 15px;
  }

  .visi p {
    font-size: 10px;
  }
  .txt {
    line-height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
    z-index: 1;
  }

  @keyframes posi2 {
    from {
      left: 35%;
    }

    to {
      left: 50%;
    }
  }
}

@media (min-width: 800px) {
  .layanan-menu {
    display: flex;
    justify-content: space-between;
  }

  .layanan {
    width: 30%;
  }

  .label1 {
    width: 30%;
  }

  .label1-visi-misi {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .heading-berita h1 {
    font-size: 2.3rem;
  }
  .txt h1 {
    font-size: 20px;
  }

  .txt p {
    font-size: 16px;
  }
}

/*ukuran layar handphone*/
@media (max-width: 480px) {
  .modal-content {
    top: 220px;
  }

  .visi h1 {
    font-size: 20px;
  }

  .visi h2 {
    font-size: 15px;
  }

  .visi p {
    font-size: 10px;
  }

  .email span {
    display: none;
  }

  .call span {
    display: none;
  }
}

/*WHATSAPP POP UP*/

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #3a3a3a;
  z-index: 99;
}

.my-float {
  margin-top: 16px;
}

.float:hover {
  color: #25d366;
  background-color: white;
}

.animatedi.infinitei {
  animation-iteration-count: infinite;
}

.rubberBandi {
  animation-name: rubberBand;
}

.animatedi {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scaleX(1);
  }
}
